<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Chat App</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"
        crossorigin="anonymous"> {{!--
    <link rel='stylesheet' href='/stylesheets/chat.css' /> --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheets/deeppurple-amber.css" rel="stylesheet">
    <link href="stylesheets/picker.min.css" rel="stylesheet">
    <style>
        body {
            background: #e9e9e9;
            color: #9a9a9a;
        }

        .owl-dt-container {
            background: rgb(250, 250, 250);

        }
    </style>

</head>

<body>
    <my-app>Loading...</my-app>

    {{!--

    <body class="centered-form">

        <my-app>Loading...</my-app>
        <div class="centered-form__form">
            <form action="/chat.hbs">
                <div class="form-field">
                    <h3>Join a Chat</h3>
                </div>
                <div class="form-field">
                    <labe>Display Name</label>
                        <input type="text" name="name" autofocus>
                </div>
                <div class="form-field">
                    <labe>Room Name</label>
                        <input type="text" name="room">
                </div>
                <div class="form-field">
                    <button>join</button>
                </div>
            </form>

        </div> --}} {{!--
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script> --}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/app/bundle.js"></script> {{!--
        <script src="/js/index.js"></script> --}}

    </body>

</html>